<div class="landing">
    <section class="grid span-1-of-1 grid-hero"> 
       <div class="hero-title">
            <h1>Welcome to Pods</h1>
            <h2>Never struggle to remember people again</h2>
            
            <a href="/user/login"><button class="btn hero-btn ghost-btn" >Log In</button></a>
            <a href="/user/new"><button class="btn hero-btn" >Sign Up</button></a>       
       </div>
       
        <img class="hero-icon" src="../img/animals.svg" alt="Icons made by <a href='https://www.flaticon.com/authors/freepik'>Freepik</a> from www.flaticon.com">
    </section>
    <section class="watch-demo">
        <p class="landing--p" >Scroll Down For A Demo</p>
        <ion-icon class="icon icon-arrow" name="arrow-down-outline" ></ion-icon>   
    </section>
</div>