<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Netto</title>

  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,800&display=swap" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="navigation">
    <% if session[:user_id] != nil  %>

      <p class="logged-in-as">logged in as <%= user["email"] %></p>
      <form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="btn">log out</button>
      </form>  
    <% end %>
</header>


  <%= yield %>


<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>
