
<form action="/card" method="post">

    <div class="card card-solo">
        <p><input type="text" class="user-input" name="quality" value="quality"></p>

        <img src="" alt="">
        <input type="url" name="image" class="user-input" value="image url">
        or
        <input type="file" name="" id="">
        
        <h4>Name <input type="text" class="user-input" name="name" value="name"></h4>

        <p>Met at<input type="text" class="user-input"  name="met" value="met"></p>
        <p>Works at<input type="text" class="user-input" name="workplace" value="workplace"></p>
        <p>skills<input type="text" class="user-input" name="skills" value="skills"></p>

        <p>Notes<input type="text" class="user-input" name="notes" value="notes"></p>

        <input type="submit" class="btn" value="Create New">
        <input type="reset" class="btn" value="reset">
    </div>
</form>