   
   
   
<form class="form" action="/user/login" method="post">
    <h2 class="form--header">login</h2>

    <div class="input-fields">
        <input type="email" name="email" value="email" class="user-input">
        <input type="password" name="pw" value="password" class="user-input">
    </div>

    <button class="btn form-btn">Log In</button>
    <input type="checkbox" id="" name="remember" value="true">
    OR
    <button>Log in with Google</button>
    <button>Log in with Facebook</button>

    <caption>forgot your password</caption>
</form>