this is the new user form

<div class="form-module">
    <form action="/user" method="post">
        <h2 class="form--header">Sign up</h2>
        <div class="input-fields">
            <input type="text" name="email" value="email">
            <input type="password" name="pw" value="password">
        </div>

        <button class="form-btn">Sign up</button>
    </form>
</div>