<form class="form form-user" action="/user/login" method="post">
    <h3 class="form--header">Sign In</h3>
    <p>Don't have an account? <a href="/user/new">Sign Up</a></p>
    
    <input type="email" name="email" value="Email" class="user-input form-user--input">
    <input type="password" name="pw" value="password" class="user-input">
    <input type="submit" class="form-btn sign-in-btn" value="Sign In">
    <%# <input type="checkbox" id="Remember me" name="remember" value="Remember me"> %>
    <a href="#" class="form-user--forgot">Forgot your password?</a>
    <p class="or">or</p>
    <button class="form-btn">Log in with Google</button>
    <button class="form-btn facebook-btn">Log in with Facebook</button>
</form>