
    <form class="form" action="/user" method="post">
        <h2 class="form--header">Sign up</h2>
        <div class="input-fields">
            <input type="email" name="email" value="email" class="user-input">
            <input type="password" name="pw" value="password" class="user-input">
        </div>

        <button class="btn form-btn">Sign up</button>
    </form>