/* ------------------------------ */
/* ----- SETUP ----------- */
/* ------------------------------ */

.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF9800; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

html {
    font-size: 14px;
    /* margin: 0; */
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #303F9F;
    box-sizing: border-box;
}

/* ------------------------------ */
/* ----- FORM STYLING ----------- */
/* ------------------------------ */

.form {
    background-color: #C5CAE9;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    height: 500px;
    width: 50%;
    margin: 0 auto;
    border-radius: 50px;
    justify-items: center;
}

.form--header {
    align-self: end;
    margin-bottom: 0;
}

.input-fields {
    align-self: end;
}

.user-input:first-child {
    border-bottom: 1px solid #BDBDBD;
    border-radius: 5px 5px 0 0;
}

.user-input {
    color: rgb(155, 155, 155);
    /* display: block; */
    padding: 10px;
    border: none;
    border-radius: 0 0 5px 5px;
}

.btn {
    background-color: #FF9800;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
}

/* .form-btn {
    background-color: #FF9800;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
} */

h2 {
    font-size: 2rem;
}

/* ------------------------------ */
/* ----- CARD STYLING ----------- */
/* ------------------------------ */

.card {
    margin: 20px;
    background-color: #C5CAE9;
    border-radius: 30px;
    display: grid;
    justify-items: center;
    box-shadow: 0px 15px 16px 15px #303030;
    border: 10px solid #000000;
    padding: 50px;
}

.card img {
    border-radius: 30%;
}

.card p {
    border: 1px solid black;
}



/* ====================== */

.main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}