/* ------------------------------ */
/* ----- SETUP ----------- */
/* ------------------------------ */

.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF9800; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: #303F9F;
}

a {
    text-decoration: none;
}

/* ------------------------------ */
/* ----- Reusable components ---- */
/* ------------------------------ */
h1 {
    font-size: 400%;
    text-transform: uppercase;
    margin-bottom: 0;
    text-shadow: 10px 5px 20px #757575;
}

h2{
    font-size: 200%;
    text-shadow: 10px 5px 20px #757575;
}

h3 {
    font-size: 170%;
}

.span-1-of-1 {
    width: 1140px;
    margin: 0 auto;
}

@media (min-width: 1500px) {
    .span-1-of-1 {
        width: 1500px;
        margin: 0 auto;
    } 
}


/* -------- butttons  -------- */
.btn {
    background-color: rgb(255, 152, 0);
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    border-radius: 30px;
    padding: 20px 35px 20px 35px;
    margin-top: 30px;
    border-color: rgb(255, 152, 0);
    font-weight: bold;
    transition: all linear 0.1s;
}

.btn:hover {
    background-color: #FF9800;
    border-color: #FF9800;
    box-shadow: 0px 5px 20px 0px rgb(161, 165, 191);
}

.btn-on-nav:hover {
    background-color: rgba(255, 153, 0, 0);
    color: white;
    box-shadow: none;
}

.btn-on-background:hover {
    box-shadow: 5px 5px 20px 10px #000000;
    color: white;
}

.btn-on-card {

}

.ghost-btn {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(242, 145, 0);
}

.ghost-btn:hover {
    background-color: #FF9800;
    border-color: #FF9800;
    color: black;
    box-shadow: 5px 5px 10px 1px #434343;
}


/* ----- FORM STYLING ----------- */

.form-user {
    margin: 10vh auto 0 auto;
    background-color: #C5CAE9;
    display: grid;
    width: 40%;
    max-width: 434px;
    border-radius: 30px;
    box-shadow: 10px 10px 15px 1px #000000;
    padding: 50px;

}

.form--header {
    justify-self: left;
    align-self: start;
    margin: 0;
}

.user-input {
    font-size: 120%;
    color: rgb(155, 155, 155);
    display: block;
    padding: 10px;
    border: none;
}

.form-user--input:first-of-type {
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid rgba(189, 189, 189, 0.741);
    margin-top: 10px;
}

.form-btn {
    font-size: 120%;
    padding: 10px;
    font-weight: bold;
    background-color: #FF9800;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
}

.facebook-btn {
    margin-top: 10px;
}

.sign-in-btn {
    border-radius: 0 0 10px 10px;
}

.form-user--forgot {
    margin: 10px 0 10px 0;
    font-size: 80%;
    text-align: center;
}
.form-user--home {
    margin-top: 20px;
    font-size: 80%;
    text-align: center;
}

.or {
    font-weight: 300;
    text-align: center;
}



/* ------------------------------ */
/* ----- Landing page ----------- */
/* ------------------------------ */

.grid-hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 15vh;
    height: 60vh;
    grid-gap: 50px;
}

.hero-title {
    text-align: center;
}

.hero-btn {
    margin-right: 30px;
}

.hero-icon {
    width: 475px;
    height: auto;
}

.watch-demo {
    margin-top: 10vh;
    height: 15vh;
    text-align: center;
}

.landing--p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 120%;
    text-shadow: 10px 5px 20px #757575;
}

.icon-arrow {
    text-shadow: 10px 5px 20px #757575;
    font-size: 500%;
}


/* ------------------------------ */
/* ------- Main index ----------- */
/* ------------------------------ */

.navigation {
    background-color: rgba(0, 0, 0, 0.536);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* .navigation-left {
    display: flex;
    justify-content: flex-start;
} */
.navigation-right {
    display: flex;
    justify-content: flex-end;
}

.navigation p {
    margin: 0;
    color: #FF9800;
    margin-top: 21px;
    margin-right: 5px;
}

.navigation button {
    margin: 10px;
    padding: 10px;
}

/* .home-btn {
    align-self: flex-start;
} */

.add-btn {
    height: 300px;
    width: 300px;
    font-size: 300%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 40%;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0 100px 50px 100px
}

.search--input {
    margin-right: 50px;
    border-radius: 20px;
    flex-grow: 2;
    max-width: 600px;
    height: 55px;
    padding-left: 20px;
}

.search--btn {
    flex-grow: 1;
    background-color: rgba(255, 153, 0, 0.296);
    color: #FFFFFF;
    max-width: 350px;
}

.top-of-search {
    display: flex;
    justify-content: center;
}

.align-class {
    flex-grow: 3;
}

.search-add-btn {
    flex-grow: 1;
}


/* ------------------------------ */
/* ----- CARD STYLING ----------- */
/* ------------------------------ */




/* ====================== */
/* ------- Card layout ----------- */

.main-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

@media(max-width: 600px) {
    .main-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


.card {
    margin: 20px;
    background-color: #C5CAE9;
    border-radius: 15px;
    display: grid;
    justify-items: center;
    box-shadow: 0px 5px 5px 5px #303030;
    border: 5px solid #000000;
    padding: 50px;
}

.card img {
    border-radius: 30%;
}

.card--a { 
    display: grid;
    justify-items: center;
    text-decoration: none;
}

.card-multiple:hover {
    box-shadow: 0px 10px 16px 10px #292929;
}

h4 {
    font-size: 130%;
}

.card--btn {
    margin: 0 ;
}


/* ----------------- */
.card-solo {
    margin: 50px auto 0 auto;
    width: 50%;
    /* display: grid; */
    box-shadow: 10px 10px 15px 1px #000000;
    /* padding: 50px;  */
}

.card-solo img {
    width: 250px;
}

.card-solo--files {
    margin-top: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.card-solo--or {
    margin: 15px;
}

.image-url-input {
    height: 30px;
}

.card-solo--input-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    grid-gap: 10px;
}

.left-col {
    justify-self: end;
    margin-right: 5px;
}

textarea {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}


.image-placeholder {
    height: 200px;
    width: 200px;
    background-color: rgb(155, 155, 155);
}

