
<form  class="card card-solo"  action="/card" method="post">

    <div class="image-placeholder"></div>

    <section class="card-solo--files">
        <input type="url" name="image" class="user-input image-url-input" value="">
        <p class="or card-solo--or">or</p>
        <input type="file" class="file-input" name="" id="">    
    </section>

    <section class="card-solo--input-section">
        
        <h4 class="left-col">Name</h4>
        <input type="text" class="user-input" name="name" placeholder="name">
        
        <p class="left-col">Met at</p><input type="text" class="user-input"  name="met" placeholder="school, work, etc...">

        <p class="left-col">Knows</p><input type="text" class="user-input" name="source" placeholder="who?">

        <p class="left-col">Does</p><input type="text" class="user-input" name="job" placeholder="Engineer, Doctor....">

        <p class="left-col">Works at</p><input type="text" class="user-input" name="workplace" placeholder="Uber">

        <p class="left-col">Skills</p><input type="text" class="user-input" name="skills" placeholder="tech skills, others...">
        
        <p class="left-col">Key Trait</p><input type="text" class="user-input" name="quality" placeholder="Doer, Clever">

        <p class="left-col">Notes</p>
        <textarea name="notes" id="" cols="30" rows="5"></textarea>

        <%# <input type="text" class="user-input notes" name="notes" value=""> %>
        
    </section>

        <input type="submit" class="btn" value="Create New">
        <input type="reset" class="btn" value="reset">
    <%# </div> %>
</form>